/** @format */

* {
  margin: 0;
  padding: 0;
}

.sidebar-container,
.input-search {
  background-color: rgb(45, 45, 45);
}
.main-container {
}
.main {
  background-color: rgb(221, 226, 225);
  min-height: 600px;
}
