/** @format */
body {
  background: #e5e5e5;
}
.signup-form {
  width: 470px;

  margin: 246px auto;
  background: #ffffff;
  padding: 38px 32px;
  font-size: 18px;
  line-height: 21.13px;
}
.signup-field {
  margin-top: 35px;
}
.signup-field label {
  position: absolute;
}
.signup-field label sup {
  color: red;
  margin-left: 5px;
}
.hidden-label label {
  display: none;
}
.signup-field input {
  box-sizing: border-box;
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1px solid #43464e;
  font-size: 18px;
  line-height: 21.13px;
  padding: 5px;
}
.button-signup {
  width: 100%;
  padding: 16px 32px;
  background: #1d1f22;
  color: #ffffff;
  box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
  border: none;
  margin: 30px 0;
  cursor: pointer;
}
.link-signin {
  text-align: center;
  text-decoration-style: solid;
  text-decoration: underline;
}
