/** @format */

/* * {
  margin: 0;
  padding: 0;
} */
.main {
  height: 800px;
}
.sidebar-container {
  background-color: rgb(38, 38, 38);
}
.sidebar-nav > img {
  min-height: 40px;
}
.rounded-circle {
  height: 50px;
}
#input-search,
#button-addon2 {
  color: white;
  background-color: rgb(56, 56, 56);
}
