* {
    margin: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
}
.container {
    width: 1100px;
}
header {
    background-color: rgb(243, 238, 238);
    padding: 10px;
    box-shadow: 0 2px rgb(142, 142, 142) inset;
}
header > a {
    text-decoration: none;
    font-size: 30px;
}
.navbar {
    background-color: rgb(243, 238, 238);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0 5px 0;
}
.nav-link {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px;
}
.nav-link > li >a {
    padding: 10px;
    text-decoration: none;
    color: black;
}
.main-container {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-columns: 3fr 7fr;
    grid-column-gap: 50px;
}

.list-video {
    width: 100%;
    height: auto;
    padding: 15px;
    background-color: rgb(243, 238, 238);
}
.video {
    margin-bottom: 10px;
    width: 100%;
    height: auto;
}
.img-video {
    
    width: 100%;
    height: 150px;
}
.title-video {
    display: flex;
}
span {
    color: rgb(96, 95, 95);
    font-size: 13px;
}
.content {
    background-color: rgb(245, 244, 242);
    padding: 10px;
}
.video-content > iframe {
   width: 100%;
   height: 380px;
}

.content > p {
    margin-top: 20px;
}
footer {
    background-color:  rgb(243, 238, 238);
    text-align: center;
    margin-top: 7px;
    padding: 15px;
}
p {
    color: rgb(108, 106, 106);
}